project: 
  type: book
  preview: 
      port: 5678
  execute-dir: project

lang: en

format: 
  html:
    theme:
      dark: [darkly, custom-dark.scss]
      light: [flatly, custom-light.scss]
    css: 
      - custom.css
      - theme-custom.scss
      #- presenter-mode.css
    bibliography: bibliography.bib
    number-sections: false
    code-tools:
      source: false
    include-in-header:
      - script.html

execute:
  freeze: true
  error: false
  message: false
  warning: false

knitr:
  opts_chunk: 
    collapse: true
    #tidy: true
    
book:
  title: "Data Analysis and Monitoring FS24"
  sidebar: 
    logo: images/zhaw_sw_neg.png
    collapse-level: 1
    style: floating
  reader-mode: true    
  # globbing would be cool. Wait for
  # https://github.com/quarto-dev/quarto-cli/issues/2120 or
  # https://github.com/quarto-dev/quarto-cli/issues/1917 to be resolved 

  chapters:
    - index.qmd
    - part: PrePro.qmd
      chapters:
      - prepro/Prepro0_Vorbereitung.qmd
      - --
      - prepro/Prepro1_Demo.qmd
      - prepro/Prepro1_Uebung.qmd
      - --
      - prepro/Prepro2_Demo.qmd
      - prepro/Prepro2_Uebung_A.qmd
      - prepro/Prepro2_Uebung_B.qmd
      - --
      - prepro/Prepro3_Demo.qmd
      - prepro/Prepro3_Uebung.qmd
    - part: InfoVis.qmd
      chapters:
      - infovis/Infovis0_Vorbereitung.qmd
      - --
      - infovis/Infovis1_Demo.qmd
      - infovis/Infovis1_Uebung.qmd
      - infovis/Infovis1_Script_eda.qmd
      - --
      - infovis/Infovis2_Uebung_A.qmd
      - infovis/Infovis2_Uebung_B.qmd
    - part: Statistic.qmd
      chapters: 
        - statistic/Stat0_Vorbereitung.qmd
        - --
        - statistic/Stat1_Uebung.qmd
        - --
        - statistic/Stat2_Uebung.qmd
        - --
        - statistic/Stat3_Uebung.qmd
    - part: SpatAn.qmd
      chapters:
      - spatan/Spatan0_Vorbereitung.qmd
      - --
      - spatan/Spatan1_Uebung_A.qmd
      - spatan/Spatan1_Uebung_B.qmd
      - --
      - spatan/Spatan2_Uebung_A.qmd
      - spatan/Spatan2_Uebung_B.qmd
      - --
      - spatan/Spatan3_Uebung_A.qmd
      - spatan/Spatan3_Uebung_B.qmd
      - spatan/Spatan3_Uebung_C.qmd
    - "References.qmd"